/* CSS Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

*::selection{
    color: #88ceeb;
}

html{
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: monospace;
    margin: 0 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 105vh;
    background-color: #0B0A0A;
    overflow-x: hidden;
}

.logo img:hover {
    animation: spin 1.5s ease forwards;
    cursor: pointer;
}

.logo img{
    max-width: 40px;
    position: absolute;
    top: 1.5rem;
    right: 9%;
    animation: rotate infinite forwards 3.5s;
}

@keyframes rotate  {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

header{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0; 
    border: 0.5px solid #a3a3a5;
    z-index: 1000;
    background-color: #0B0A0A;
    display: flex;
    align-items: center;
    gap: 15rem;
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
    padding-left: 7rem;
}

header .details a{
    cursor: pointer;
    text-decoration: none;
}

header .clock {
    font-weight: 600;
    font-size: 24px;
    background-color: none;
}

.menu-bar {
    position: absolute;
    top: 50%;
    left: 89%;
    cursor: pointer;
    display: block; 
}
    
.navbar {
    list-style-type: none;
    text-align: center;
    margin-top: 2.5rem;
    padding: 3rem 0;
    display: none;
    border-radius: 65px 65px 0 0;
}

.navbar li{
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
}

.navbar li a{
    display: block;
    color: #C6C6C6;
    font-size: 85px;
    text-decoration: none;
    height: 18vh;
    animation: 5s slideup; 
}

@keyframes slideup {
    from {
      margin-top: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.navbar li a::before{
    content:" Home";
    position: absolute;
    color: #0B0A0A;
    left: 0;
    width: 0%;
    overflow: hidden;
    transition: all 0.3s;
}

.navbar a:hover::before{
    height: 3.25rem;
    width: 100%;
}

.navbar .contact::before{
    content:" Contact";
    position:absolute;
    color: #0B0A0A;
    left: 0;
    width: 0%;
    overflow: hidden;
    transition: all 0.3s;
}

.navbar.active{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: fixed;
    top: 3.2rem;
    left: 0;
    right: 0;
    width: 100%;
    background: #EDEDED;
    animation: 2s slideup;
    z-index: 1000;
}

.main{
    padding: 1rem 0;
}

.main#blur.active{
    filter: blur(5px);
}

section{
    padding: 80px 5rem;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    text-justify: inter-word;
    transition: transform 1s ease;
}

.home {
    text-align: justify;
    font-size: 3rem;
}

.home h1{
    padding: -0.5rem 0;
    font-size: 3rem;
    animation: 2.5s slideup;
}

.home p{
    padding: 2rem 0;
    font-size: 22px;
    line-height: 2rem;
}

.flex{
    padding: -2rem 0;
}

.flex a{
    text-decoration: none;
    font-size: 1.2rem;
}

.flex a:hover{
    font-size: 1.5rem;
}
