/* CSS Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

*::selection {
    color: #88ceeb;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: monospace;
    margin: 0 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #0B0A0A;
    overflow-x: hidden;
}

.logo img:hover {
    animation: spin 1.5s ease forwards;
    cursor: pointer;
}

.logo img {
    max-width: 40px;
    position: absolute;
    top: 2rem;
    right: 5%;
    animation: rotate infinite forwards 3.5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

header {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #0B0A0A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.6rem;
    padding-bottom: 0.85rem;
}

header .details a {
    cursor: pointer;
    text-decoration: none;
}

header .clock {
    font-weight: 600;
    font-size: 24px;
    background-color: none;
}

.menu-bar {
    position: absolute;
    top: 50%;
    left: 90%;
    cursor: pointer;
    display: block;
}

.navbar {
    list-style-type: none;
    text-align: center;
    padding: 3rem 0;
    display: none;
    border-radius: 65px 65px 0 0;
}

.navbar li {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
}

.navbar li a {
    display: block;
    color: #C6C6C6;
    font-size: 85px;
    text-decoration: none;
    height: 18vh;
    animation: 2.5s slideup;
}

@keyframes slideup {
    from {
        margin-top: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.navbar li .home::before {
    content: " Home";
    position: absolute;
    color: #0B0A0A;
    left: 0;
    width: 0%;
    overflow: hidden;
    transition: all 0.3s;
}

.navbar li a::before {
    content: " Projects";
    position: absolute;
    color: #0B0A0A;
    left: 0;
    width: 0%;
    overflow: hidden;
    transition: all 0.3s;
}

.navbar .contact::before {
    content: " Contact";
    position: absolute;
    color: #0B0A0A;
    left: 0;
    width: 0%;
    overflow: hidden;
    transition: all 0.3s;
}

.navbar a:hover::before {
    height: 3.25rem;
    width: 100%;
}

.navbar.active {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #EDEDED;
    animation: 2s slideup;
    z-index: 1000;
}

.main {
    padding: 1rem 0;
}

.main#blur.active {
    filter: blur(5px);
}

section {
    padding: 80px 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    text-justify: inter-word;
    transition: transform 1s ease;
}

.contact {
    text-align: justify;
    font-size: 3rem;
}

.contact h1 {
    padding: -0.5rem 0;
    font-size: 3rem;
    animation: 2.5s slideup;
}

.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}


.contact .row form {
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, .85);
    border-radius: 5rem;
}

.contact .row form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row form .inputBox input,
.contact .row form textarea {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    background: #0B0A0A;
    text-transform: none;
    border: 0.5px solid rgb(31, 30, 30);
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
    width: 96%;
}

.contact .row form .btn {
    position: relative;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: .5rem;
    color: #777;
    background: none;
    border: 1px solid rgb(31, 30, 30);
    border-radius: 10px;
    cursor: pointer;
}

.contact .row form .btn:hover {
    color: #fff;
    background: rgb(0, 0, 0);
}

.contact .socials {
    display: flex;
}

.socials a {
    font-size: 1.5rem;
    animation: 2s slideup;
    margin: 1rem 7rem;
}

.socials .fa-github:hover {
    color: rgb(8, 136, 72);
}

.socials .fa-twitter:hover {
    color: rgb(29, 161, 242);
}

.socials .fa-instagram:hover {
    color: rgb(217, 44, 110);
}



/* Media Queries  */

/* media query for small screens */
@media screen and (max-width: 600px) {
    body {
        margin: 0 0.5rem;
    }

    .logo img {
        max-width: 30px;
        right: 75%;
    }

    header {
        display: none;
        /* padding: 0.5rem 1.65rem; */
    }

    header .clock {
        display: none;
    }

    header .details {
        font-size: 12px;
    }

    header .location {
        display: none;
    }

    header .fa-bars {
        font-size: 18px;
    }

    .menu-bar {
        left: 90%;
    }

    .navbar {
        position: relative;
        bottom: 0;
        border-radius: 45px 45px 0 0;
    }

    .navbar li a {
        font-size: 55px;
        height: 14vh;
    }

    .navbar.active {
        bottom: 1rem;
    }

    .contact h1{
        font-size: 2rem;
        padding-right: 1rem;
    }


    hr{
        width: 6%;
    }


    .socials a {
        font-size: 1.2rem;
        margin: 0.6rem .2rem;
    }

}